<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077140162189-r7rpfi1p12i6uov8f8mss5hiishemscq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077140162189-r7rpfi1p12i6uov8f8mss5hiishemscq</string>
	<key>API_KEY</key>
	<string>AIzaSyCtNUmyKE0OfVX84RtPBVAPycWt7ZevlGs</string>
	<key>GCM_SENDER_ID</key>
	<string>1077140162189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rivaldofez.Twitters</string>
	<key>PROJECT_ID</key>
	<string>twitter-60441</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-60441.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077140162189:ios:52cc357cf7e68d0e9d84c4</string>
</dict>
</plist>